html {
    background-color: yellow;
    color: black;

}

h1 {
    color: red;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: blue;
}
